.page {
  width: 51%;
  background: #EEE;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.author {
  font-weight: bold;
  color: #000;
}

.profilePicture {
  border-radius: 50%;
  margin-left: 0.4rem;
  margin-right: 0.7rem;
}

.info {
  display: flex;
  flex-direction:row;
  margin-left: 0.5rem;
}

.info img {
  margin: 1rem;
  margin-right: 0.5rem;
  width: 2.5rem;
}

.info div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  font-size: 0.8rem;
  color: gray;
}

.content img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.content p {
  width: 100%;
  margin-block: 1rem;
}

.content a {
  margin: 0 !important;
  width: 100% !important;
}

@media screen and (max-width: 700px) {

  .page {
    width: 100%;
    padding: 1rem;
  }
  .title {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }
  .info img {
    width: 2rem;
  }

  .content p a {
    margin: 0 !important;
  }

  .content img {
    max-width: 100%;
  }
  .content p {
    margin-block: 1rem;
  }
}
