
article{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post{
    margin-block: 10px;
    border: 1px solid gray;
    border-radius: 30px;
}

.post:hover {
    transform: scale(101%);
    transition: 0.3s ease;
}

.post-img{
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 20rem;
    max-height: 20%;
    overflow: hidden;
}

.post-img{
    cursor:pointer;
}

.information {
    border-radius: 0 0 30px 30px;
    padding-top: 1%;
    padding-inline: 5%
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5em;
}

.autor{
    width: 10%;
    border-radius: 50%;
}

.dot{
    background-color: darkslategrey;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.social-media {
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1em;
}

.description {
    margin-inline: 5%;
    margin-bottom: 5%;
    text-align: justify;
}

h2{
    font-weight: bold;
    font-size: 2em;
    margin-inline: 5%;
    text-align: left;
}

h2:hover{
    cursor: pointer;
    color: cornflowerblue;
    transition: 0.1s ease;
}

.posts{
    width: 50%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 3;
}

.cards{
    width: 50%;
    margin: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex:2
}

.columns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about {
    border-radius: 15px;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 40%;
    border: 1px solid gray;
}

.about:hover{
    transform: scale(101%);
    transition: 0.3s ease;
}

.about img {
    width: 25%;
    border-radius: 50%;
    margin: 1em;
    border: 0.5px solid gray;
}

.about small {
    margin: 1em;
    text-align: center;
}

.columns-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page{
    margin: 1em;
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    flex: 1;
}

.page h2{
    margin-inline: 0;
}

.page .details {
    width: 35%;
    height: 1em;
    margin-top: 0;
    margin-bottom: 2em;
}

.columns-page .cards {
    flex:1;
}

.content * {
    border-radius: 20px;
    text-align: justify;
}

.content p {
    text-align: justify;
}

.content a {
    text-decoration: underline;
    font-weight: bold;
    color: cornflowerblue;
}

.content a:hover{
    color:darkcyan;
}