body::-webkit-scrollbar{
  display: none;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

h1 {
  margin: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: inset 0 10px 10px #FFF;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
}

small {
  color: gray;
  margin-right: 20px;
}

.overline{
  text-decoration: overline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-inline: 20px;
}

button {
  background-color: inherit;
  color: gray;
  border-radius: 15px;
  border: none;
  padding: 10px;
  text-align: center;
  padding-inline: 20px;
  font-weight: bold;
  font-size: 1.05rem;
}

button:hover {
  transform: scale(1.05);
  transition: .2s ease-in-out;
  background-color: #471d1d;
  color: white;
}

.social-links {
  margin-inline: 30px;
}

.name{
  cursor: pointer;
}
a{
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  main {
    background-color: white;
  }
  .cards{
    display: none;
  }
  .posts {
    align-items: center;
    margin: 0.5em;
    width: 100%;
  }
  .post{
    margin-block: none;
  }

  .post-img{
    height: 10rem;
  }
  .post .description {
    display: none;
  }

  article {
    width: 90%;
  }

  .dot:nth-of-type(2) {
    display: none;
  }
  .comments{
    display: none;
  }
  header .social-links {
    display: none;
  }
  header .home-btn {
    display: none;
  }

  form div {
    flex-direction: column;
    margin: none none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5em;
  }

  input {
    margin: 0.5em;
    width: 70%;
    padding: none;
  }

  textarea {
    padding: none;
    border-radius: 15px;
    border: 1px solid gray;
    width: 70%;
    margin: 0px;
    margin-bottom: 0.5em;
  }
  #contact h1 {
    margin: 1em;
  }

  .columns-page{
    width: 100%;
  }

  .page{
    width: 80%;
    margin: 0em;
    align-items: center;
  }

  .page .details {
    width: 100%;
    height: 1em;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .content * {
    width: 98%;
    margin-inline: 0;
  }
}