.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

h1 {
  margin: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: inset 0 10px 10px #FFF;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
}

small {
  color: gray;
  margin-right: 20px;
}

.overline{
  text-decoration: overline;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #c7c7c7;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-inline: 20px;
}

button {
  background-color: inherit;
  color: gray;
  border-radius: 15px;
  border: none;
  padding: 10px;
  text-align: center;
  padding-inline: 20px;
  font-weight: bold;
  font-size: 1.05rem;
}

button:hover {
  transform: scale(1.05);
  transition: .2s ease-in-out;
  background-color: #471d1d;
  color: white;
}

.social-links {
  margin-inline: 30px;
}