@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

/* Link elements */
a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #EEE;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  position:sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 2px solid #aaa;
}

h1 {
  margin: 30px;
  margin-block: 0.4rem;
}

.title {
  color:#FFF;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
}

.description {
  text-align: justify;
  overflow: hidden;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

h2:hover{
  cursor: pointer;
}

.posts{
  background: #ddd;
  border-inline: 2px solid #ddd;
  width: 51%;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page{
    margin: 1em;
    margin-left: 3em;
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}

.page h2{
    margin-inline: 0;
    margin:0.7em;
}

.page .details {
    width: 35%;
    height: 1em;
    margin-top: 0;
    margin-bottom: 2em;
}

.content * {
    border-radius: 20px;
    text-align: justify;
    margin: 1em;
}

.content p {
    text-align: justify;
    margin: 0.5em;
}

.content a {
    text-decoration: underline;
    font-weight: bold;
    color: cornflowerblue;
}

.content a:hover{
    color:darkcyan;
}

.post{
  background: #EEE;
  width: 100%;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid #aaa;
}

.author-image {
  border-radius: 50%;
}

.post-info {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-info img {
  margin-inline: 0.4rem;
  margin-right: 0.7rem;
}

.post-info div {
  display:flex;
  flex-direction: column;
}

.post-author {
  font-weight: bold;
  color: #000;
}

.post-info div {
  font-size: 0.8rem;
  color: gray;
}

.post-image {
  width: 100%;
  cursor:pointer;
}

.description {
  color: #444;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  text-align: justify;
}

.subtitle{
  font-weight: bold;
  font-size: 1.2em;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  text-align: left;
}

.subtitle:hover{
    cursor: pointer;
    color: cornflowerblue;
    transition: 0.1s ease;
}

.post-interaction {
  width:100%;
  display:flex;
}

.post-interaction button:first-child {
  border-left: none;
}

.post-interaction button {
  width:100%;
  padding: 0.5rem;
  border: none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.post-interaction .icon {
  font-size: 1rem;
}

#error {
  flex:3
}

@media screen and (max-width: 700px) {
  main {
    width:100%;
  }

  .posts {
    align-items: center;
    border-inline:none;
    margin:0;
    width: 100%;
  }
  .post{
    margin-bottom: 0.7rem;
    border-bottom:none;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.9rem;
  }

  #error {
    display: none;
  }
}
